* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 0.7vw;
}
.container {
    width: 60%;
    margin: 0 auto;
}

.row {
    float: left;
    width: 100%;
}
.text {
    font-size: 0.9vw;
    padding: 0px 0px 10px 0px;
    font-weight: 700;
}
.pd {
    padding-right: 26px;
}
.pd1 {
    padding-right: 3px;
}
.mb {
    margin-bottom: 20px;
}
.mb1 {
    margin-bottom: 10px;
}
.mr {
    margin-right: 2%;
}
.mt {
    margin-top: 20px;
}
.mt1 {
    margin-top: 15px;
}
.demo {
    background-color: antiquewhite;
    min-height: 100px;
}

.header {
    background-color: aquamarine;
    border: 1px #090 solid;
    font-size: 1vw;
    color: green;
    border-radius: 5px;
}
.footer {
    background-color: aquamarine;
    border: 1px #090 solid;
    color: blue;
    border-radius: 5px;
    padding: 20px;
}
.header h1 {
    margin: 20px;
    font-size: 1.2vw;
}

.menu {
    background-color: black;
    color: #ccc;
    border-radius: 5px;
}
.boxtrai {
    float: left;
    width: 74%;
}
.boxphai {
    float: left;
    width: 24%;
}

.boxtitle {
    color: #333;
    padding: 10px;
    background-color: #eee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px #ccc solid;
}
.boxconten {
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 200px;
    padding: 20px;
}
.boxconten2 {
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    background-color: #eee;
}
.boxfooter {
    padding: 10px;
    background-color: #eee;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}
.banner {
    min-height: 300px;
    width: 100%;
    text-align: center;
}
.banner img {
    height: 300px;
}
.boxsp {
    float: left;
    width: 32%;
    min-height: 300px;
    border: 1px #eee solid;
    border-radius: 5px;
}
.boxsp .img {
    min-height: 230px;
    text-align: center;
}
.img img {
    height: 220px;
}

/* menu */
.menu ul {
    padding: 0px 15px;
}
.menu ul li {
    list-style: none;
    display: inline;
    padding: 0px 15px;
}
.menu ul li a {
    color: #ccc;
    text-decoration: none;
    transition: 0.5s;
}
.menu ul li a:hover {
    color: aliceblue;
    font-size: 0.8vw;
}

/* box phải tài khoản */
.formtk {
    line-height: 150%;
}
.formtk input[type="text"],
.formtk input[type="password"],
.frmcontent input[type="text"] {
    width: 100%;
    border: 1px #ccc solid;
    padding: 5px 10px;
    border-radius: 5px;
}
.formtk input[type="checkbox"] {
    border-radius: 5px;
}
.formtk input[type="submit"],
.frmcontent input[type="submit"],
.frmcontent input[type="reset"],
.frmcontent input[type="button"],
.boxcontent input[type="submit"],
.boxcontent input[type="reset"] {
    border-radius: 5px;
    padding: 5px 10px;
    background-color: white;
    border: 1px #ccc solid;
}
.formtk input[type="submit"]:hover,
.frmcontent input[type="submit"]:hover,
.frmcontent input[type="reset"]:hover,
.frmcontent input[type="button"]:hover,
.boxcontent input[type="submit"]:hover,
.boxcontent input[type="reset"]:hover {
    background-color: #ccc;
}
.formtk li a {
    color: teal;
    text-decoration: none;
}
.formtk li a:hover {
    color: #060;
    text-decoration: underline;
}
/* menu dọc */
.menudoc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menudoc ul li {
    padding: 10px 20px;
    background-color: #eee;
    border-bottom: #ccc solid;
}
.menudoc ul li a {
    color: #666;
    text-decoration: none;
}
.menudoc ul li:hover {
    background-color: #ccc;
}
.searbox input[type="text"] {
    width: 100%;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px #ccc solid;
    border-radius: 5px;
}
/* top10 */
.top10 img {
    width: 15%;
    height: 35px;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px #ccc solid;
}
.top10 a {
    color: #666;
    text-decoration: none;
}
.top10 a:hover {
    color: #000;
    text-decoration: underline;
}
/* admin */
.frmtitle {
    background-color: #eee;
    border: 1px #ccc solid;
    color: #666;
    border-radius: 5px;
    padding: 0px 20px;
}
.frmtitle h1 {
    font-size: 1vw;
}
.frmcontent {
    padding: 20px 0px;
}
.frmdsloai table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.frmdsloai table th:nth-child(1) {
    width: 10%;
    padding: 20px;
    background-color: #ccc;
}
.frmdsloai table th:nth-child(2) {
    width: 30%;
    background-color: #ccc;
}
.frmdsloai table th:nth-child(3) {
    width: 40%;
    background-color: #ccc;
}
.frmdsloai table th:nth-child(4) {
    width: 20%;
    background-color: #ccc;
}
.frmdsloai table th:nth-child(5) {
    width: 20%;
    background-color: #ccc;
}
.frmdsloai table th:nth-child(6) {
    width: 20%;
    background-color: #ccc;
}
.frmdsloai table th:nth-child(7) {
    width: 20%;
    background-color: #ccc;
}
.frmdsloai table th:nth-child(8) {
    width: 20%;
    background-color: #ccc;
}
.frmdsloai table td {
    padding: 10px 20px;
    border: 1px solid #ccc;
    text-align: center;
}
.row2 input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
}
.row3 textarea {
    width: 100%;
    height: 100px;
}
.row1 input {
    width: 30%;
    height: 30px;
}
.frmdshanghoa table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.frmdshanghoa table th {
    padding: 10px 20px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #666;
}
.frmdshanghoa table td {
    padding: 10px 20px;
    border: 1px solid #ccc;
    text-align: center;
}
